<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Current UTC date time</Title>
			<Shortcut>unow</Shortcut>
			<Description>Gets current UTC datetime</Description>
			<Author>DL</Author>
        </Header>
        <Snippet>
            <Code Language="CSharp"><![CDATA[var now = DateTime.UtcNow;]]></Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>